@font-face {
    font-family: 'iconfont';  
    src: url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.eot');
    src: url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.woff') format('woff'),
    url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_510640_ae3sn9b3kl.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
[class^="te--"], [class*=" te--"]  {
    font-family:"iconfont" !important;
    font-size:$font-size-base;
    font-style:normal;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    
}

.te--nochecked:before { content: "\e668"; }
.te--checked:before { content: "\e730"; }

.te--radio:before { content: "\e6da"; }
.te--hor-radio:before { content: "\e680"; }
.te--hor-radio-check:before { content: "\e62b"; }

.te--phone:before { content: "\e61e"; }

.te--search:before { content: "\e651"; }

.te--close-outline:before { content: "\e66e"; }
.te--close:before { content: "\e627"; }

.te--homefill:before { content: "\e750"; }
.te--home:before { content: "\e751"; }

.te--myfill:before { content: "\e75d"; }
.te__icon--my:before { content: "\e75e"; }

.te__icon--userfill:before { content: "\e787"; }
.te__icon--user:before { content: "\e788"; }

.te__icon--contact:before { content: "\e6c2"; }

.te__icon--link:before { content: "\e646"; }

.te__icon--lock:before { content: "\e6c0"; }
.te__icon--unlock:before { content: "\e6c3"; }

.te__icon--like:before { content: "\e6a1"; }
.te__icon--likefill:before { content: "\e60b"; }

.te__icon--date:before { content: "\e613"; }

.te__icon--reduce-outline:before { content: "\e729"; }
.te__icon--add-outline:before { content: "\e727"; }

.te__icon--reduce:before { content: "\e68e"; }
.te__icon--add:before { content: "\e67e"; }

.te__icon--edit:before { content: "\e64b"; }
.te__icon--delete:before { content: "\e68c"; }

.te__icon--photodel:before { content: "\e712"; }
.te__icon--photo:before { content: "\e663"; }

.te__icon--lbs:before { content: "\e60f"; }

.te__icon--msg:before { content: "\e763"; }
.te__icon--msgfill:before { content: "\e762"; }

.te__icon--menu:before { content: "\e790"; }
.te__icon--menumore:before { content: "\e78d"; }

.te__icon--tips:before { content: "\e653"; }

.te__icon--refresh:before { content: "\e782"; }

.te__icon--share:before { content: "\e628"; }

.te__icon--totop:before { content: "\e64e"; }

.te__icon--attachment:before { content: "\e60c"; }

.te__icon--emoji:before { content: "\e64a"; }

.te__icon--qrcode:before { content: "\e642"; }
.te__icon--scan:before { content: "\e62e"; }
.te__icon--mall:before { content: "\e63f"; }
.te__icon--filter:before { content: "\e74a"; }
.te__icon--sort:before { content: "\e62f"; }

.te__icon--loading{ animation: spin 1250ms linear infinite;}
.te__icon--loading:before { content: "\e69d";}

.te__icon--left:before { content: "\e681"; }
.te__icon--right:before { content: "\e687"; }
.te__icon--up:before { content: "\e67f"; }
.te__icon--down:before { content: "\e601"; }

.te__icon--kb-del:before { content: "\e629"; }
.te__icon--kb-hide:before { content: "\e644"; }