html{
    // font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
input, button{
    outline: none;
}

a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.te--overflow--hidden{
    overflow: hidden!important;
}